p {
    font-family: Montserrat;
    text-align: center;
    width: 300px;
    margin-top: 0;
    margin-bottom: 0;
}

.model-text{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 8px;
}